%tag-base {
  @include inline-flexbox;
  @include text-style(12);
  height: 20px;
  padding: 0 6px;
  font-weight: 700;
  border-radius: 4px;
}

.tag {
  @extend %tag-base;
  color:$black;
}

.tag-outline {
  @extend %tag-base;
  color:$black;
  border: 1px solid #ddd;
}

.tag-orange {
  @extend %tag-base;
  color: $white;
  background-color: $orange;
}

.tag-green {
  @extend %tag-base;
  color: $white;
  background-color: $green;
}

.tag-gray {
  @extend %tag-base;
  color:$white;
  background-color: $primary-color-dark;
}