$font-main: 'Noto Sans KR', sans-serif;
$font-price: 'Tahoma';

$font-size-10: 10px;
$line-height-10: 16px;
$letter-spacing-10: -0.01em;

$font-size-13: 13px;
$line-height-13: 20px;
$letter-spacing-13: -0.01em;

$font-size-18: 18px;
$line-height-18: 28px;
$letter-spacing-18: -0.02em; 

$font-size-24: 24px;
$line-height-24: 34px;
$letter-spacing-24: -0.01em;

$font-size-32: 32px;
$line-height-32: 34px;
$letter-spacing-32: -0.01em;