/* activity - reservation modal */
.moal-wrapper {
  overflow: auto; height: 100%;
}

.modal-bgc {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0,0,0,0.1);
  overflow: hidden;
}

.modal-ticket {
  width: 100%;
  height: 100%;
  background-image: url('assets/sub/ticket.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  overflow: hidden;
}
.modal-ticket-box {
  position: relative;;
  margin: 0 auto;
  top:10%;
  width: 500px;
  height: 623px;
  z-index: 999;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: flex;
  border-radius: 4px;
  background-color: #fff;
  width: 738px;
  height: 523px;
  padding: 40px;
}

.modal-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  top:13%;
  left: 166px;
  width: 290px;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
  border: none;
}

#modal-order-form-reservation {
  position: relative;
  z-index: 999;
  margin: 0 auto;
  height: 70%;
  transform: scale(0.5);
}

.modal-header p{
 margin-bottom: 26px;
}


.datepickers {
  position: absolute;
  z-index: 999;
  display: flex;
  flex-direction: column;
  height: 140px;
  width: 100%;
  top:49%;
  left: 30%;
}

.datepickers::after{
  content: '';
  position: absolute;
  bottom: -2px;
  height: 1px;
  width: 430px;
  left: -100px;
  background: #ddd;
}

#modal-order-form {
  position: relative;
  left: 50%;
  top:67%;
  transform: scale(0.6);
}

.date-picker-end {
  margin-top: 30px;
}

.modal-ic-close {
  position: absolute;
  z-index: 999;
  top:60px;
  left: 67%;
	width: 50px;
	height: 50px;
  cursor: pointer;
}

.btn-group {
  position: fixed;
  z-index: 999;
  top:97%;
  left: 55%;
}

#order-inputz {
  position: absolute;
  margin: 0 auto;
  top:520px;
  left: 40px;
}

.btn-group button {
  position: absolute;
  background-color: #5C7A89;
  color: white;
  font-weight: 800;
  top: -150px;
  left: -30vh;
  width: 400px;
  height: 80px;
  margin: 10px;
}

/* cart-modal */
.cart-modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 32px;
  max-width:360px;
  top:50%;
  left: 50%;
  transform: translateX(-50%);
  transform: scale(2);
  z-index: 500;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.18);
}

.cart-tit {
  color:#000;
  font-size: 18px;
  line-height: 28px;
  letter-spacing:-0.02em; 
  font-weight: 700;
  margin-bottom: 16px;
}

.btn-group-cart {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btn-group-cart a{
  width: 100%;
  margin-bottom: 10px;
}

.btn-group-cart div{
  width: 100%;
}

#modal-header-top {
  position: absolute;
  display: flex;
}

.reservation-date {
  position: absolute;
  top:66px;
}

.reservation-data1 {
  position: relative;
  left: 0px;
  text-align: left;
  white-space: normal;
}


#modal-header1 {
  position: block;
  display: flex;
  flex-flow: flex-start;
  margin-top: 250px;
}