.username {
    color: #3F4150;
}

time {
    font-size: 12px;
    line-height: 16px;
    color: #8C8D96;
}

.detail {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.review-contents {
    white-space: normal;
    font-size: 12px;
    color: #3F4150;
}

.info {
    padding-top: 20px;
  }

