@mixin text-style-10() {
    font-size: $font-size-10;
    line-height: $line-height-10;
    letter-spacing: $letter-spacing-10;
  }
  
  @mixin text-style-13() {
    font-size: $font-size-13;
    line-height: $line-height-13;
    letter-spacing: $letter-spacing-13;
  }
  
  @mixin text-style-18() {
    font-size: $font-size-18;
    line-height: $line-height-18;
    letter-spacing: $letter-spacing-18;
  }
  
  @mixin text-style-24() {
    font-size: $font-size-24;
    line-height: $line-height-24;
    letter-spacing: $letter-spacing-24;
  }
  
  @mixin text-style-32() {
    font-size: $font-size-34;
    line-height: $line-height-34;
    letter-spacing: $letter-spacing-34;
  }
  
  @mixin text-style($size, $color: false) {
    @if ($size == 10) {
      @include text-style-10;
    }
    @if ($size == 13) {
      @include text-style-13;
    }
    @if ($size == 18) {
      @include text-style-18;
    }
    @if ($size == 24) {
      @include text-style-24;
    }
    @if ($size == 32) {
      @include text-style-32;
    }
    @if (type-of($color) == color) {
      color: $color;
    }
  }